.part-image {
  width: 150px;
  height: 150px;
}
.part-specification {
  display: inline-block;
  line-height: 30px;
  margin-right: 12px;
}

.part-to-select-title {
  font-size: 16px;
  color: #656565;
}
